Repository yonger0718/aws-cqrs-test: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 70%
        threshold: 5%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 10%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  unittests:
    paths:
      - query-service/eks_handler/
    carryforward: true
  integration:
    paths:
      - query-service/tests/
    carryforward: true

ignore:
  - "*/tests/*"
  - "*/test_*.py"
  - "*/__pycache__/*"
  - "*/venv/*"
  - "*/htmlcov/*"
  - ".coverage"
  - "coverage.xml"
  - "scripts/"
  - "docs/"
  - "**/*.md"

chore: Refactor project structure and enhance testing configuration
  .github/workflows/ci.yml
  .gitignore
  .secrets.baseline
  README.md
  codecov.yml
  docs/architecture/query_service_requirements.md
  docs/architecture/query_service_requirements_v2.md
  docs/project/PROJECT_SUMMARY.md
  docs/project/ROOT_DIRECTORY_MIGRATION.md
  docs/testing/ROOT_DIRECTORY_TESTS.md
  pytest.ini
  query-service/.coverage
  query-service/.gitignore
  query-service/README.md
  query-service/coverage.json
  query-service/coverage.xml
  query-service/docker-compose.yml
  query-service/eks_handler/Dockerfile
  query-service/eks_handler/__init__.py
  query-service/eks_handler/main.py
  query-service/eks_handler/requirements.txt
  query-service/pytest.ini
  query-service/tests/test_eks_handler.py
  scripts/README.md
Due: unittests

chore: Update CI workflow to use python -m pytest for test execution
  .github/workflows/ci.yml
Due: none

chore: Update CI workflow and testing requirements
  .github/workflows/ci.yml
  query-service/tests/requirements-test.txt
Due: none

chore: Add MIT License and update CI workflow integration test name
  .github/workflows/ci.yml
  LICENSE
Due: none

chore: Update testing configuration and CI workflow
  .github/workflows/ci.yml
  .github/workflows/lambda-tests.yml
  pyproject.toml
  query-service/tests/test_lambdas/conftest.py
Due: integration

chore: Refactor CI workflow for enhanced testing and security checks
  .github/workflows/ci.yml
Due: none

chore: Update pre-commit configuration and clean up type ignores
  .pre-commit-config.yaml
  query-service/eks_handler/main.py
  query-service/lambdas/query_lambda/test_app.py
  query-service/lambdas/stream_processor_lambda/test_app.py
  query-service/tests/test_integration.py
  query-service/tests/test_lambdas/conftest.py
Due: unittests, integration

chore: Update dependencies and configuration in pyproject.toml
  pyproject.toml
Due: none

chore: Update testing scripts and documentation for improved clarity and execution
  .github/workflows/ci.yml
  .secrets.baseline
  pyproject.toml
  query-service/README.md
  query-service/tests/README.md
  query-service/tests/test_eks_handler.py
  query-service/tests/test_integration.py
  scripts/testing/run-all-tests.sh
  scripts/testing/run-integration-tests.sh
  scripts/testing/run-unit-tests.sh
Due: none

ci: Update integration tests and configuration for improved functionality
  .secrets.baseline
  pyproject.toml
  query-service/tests/test_integration.py
  scripts/testing/run-integration-tests.sh
Due: none

feat: Enhance Lambda functions and testing configuration
  .cursor/rules/coding/always-run-rules.mdc
  .cursor/rules/python/general-python-development.mdc
  .cursor/rules/python/python-general-rule.mdc
  .secrets.baseline
  pyproject.toml
  query-service/lambdas/query_lambda/app.py
  query-service/lambdas/query_lambda/requirements.txt
  query-service/lambdas/query_result_lambda/app.py
  query-service/lambdas/query_result_lambda/requirements.txt
  query-service/lambdas/stream_processor_lambda/app.py
  query-service/lambdas/stream_processor_lambda/requirements.txt
  query-service/pyproject.toml
  query-service/run_tests.py
  query-service/test_verification.py
  query-service/tests/requirements-test.txt
  query-service/tests/test_lambdas/test_query_lambda.py
  query-service/tests/test_lambdas/test_query_result_lambda.py
  query-service/tests/test_lambdas/test_stream_processor_lambda.py
  query-service/validate_improvements.py
Due: integration

feat: Update AWS region and refactor Lambda functions for improved functionality
  .secrets.baseline
  pyproject.toml
  query-service/docker-compose.yml
  query-service/eks_handler/main.py
  query-service/infra/localstack/build_lambda.sh
  query-service/infra/localstack/setup.sh
  query-service/lambdas/.lambdaignore
  query-service/lambdas/query_lambda/app.py
  query-service/lambdas/query_lambda/requirements-test.txt
  query-service/lambdas/query_lambda/requirements.txt
  query-service/lambdas/query_lambda/test_app.py
  query-service/lambdas/query_result_lambda/app.py
  query-service/lambdas/query_result_lambda/requirements-test.txt
  query-service/lambdas/query_result_lambda/requirements.txt
  query-service/lambdas/query_result_lambda/test_app.py
  query-service/lambdas/stream_processor_lambda/app.py
  query-service/lambdas/stream_processor_lambda/requirements-test.txt
  query-service/lambdas/stream_processor_lambda/requirements.txt
  query-service/lambdas/stream_processor_lambda/test_app.py
  query-service/tests/test_eks_handler.py
  query-service/tests/test_integration.py
  query-service/tests/test_lambdas/conftest.py
  query-service/tests/test_lambdas/test_query_result_lambda.py
  query-service/tests/test_lambdas/test_stream_processor_lambda.py
  scripts/deploy_api_gateway_proxy.sh
  scripts/development/simulate_writes.py
  scripts/fix_api_gateway.sh
  scripts/fix_scripts.sh
  scripts/queries/simple_query.sh
  scripts/queries/test_query.sh
  scripts/setup_env.sh
Due: unittests, integration

feat: Update Query Service to v4.2 with new SNS query functionality and stability improvements
  .secrets.baseline
  README.md
  docs/README.md
  docs/api/api-changes-v3.md
  docs/api/api-changes-v4.1.md
  docs/api/api-changes-v4.2.md
  docs/api/api-changes-v4.md
  docs/architecture/query_service_requirements.md
  docs/guides/FINAL_USAGE_GUIDE.md
  docs/guides/README_QUERY_TOOLS.md
  docs/migration/DOCUMENTATION_UPDATE_V4.2.md
  docs/migration/migration-v3-implementation.md
  docs/migration/migration_v3.md
  docs/poetry_update/CLEANUP_SUMMARY.md
  docs/poetry_update/POETRY_VERIFICATION_REPORT.md
  query-service/README.md
  query-service/eks_handler/main.py
  query-service/lambdas/query_lambda/app.py
  query-service/lambdas/query_lambda/test_app.py
  query-service/lambdas/query_result_lambda/app.py
  query-service/lambdas/stream_processor_lambda/app.py
  query-service/tests/test_eks_handler.py
  query-service/tests/test_integration.py
  query-service/tests/test_lambdas/test_query_lambda.py
  scripts.py
Due: unittests, integration

fix(ci): exclude virtual environments from file validation checks
  .github/workflows/ci.yml
Due: none

fix(ci): Update coverage threshold and enhance test exclusion in pyproject.toml
  pyproject.toml
  query-service/eks_handler/main.py
Due: unittests

feat(tests): Add unit tests for stream_processor_lambda functionality
  query-service/tests/test_lambdas/test_stream_processor_lambda.py
Due: integration

chore(dependencies): Update dependencies in pre-commit configuration and project files
  .pre-commit-config.yaml
  pyproject.toml
  query-service/lambdas/query_lambda/requirements.txt
  query-service/lambdas/query_result_lambda/requirements.txt
Due: none

feat: Add retry count tracking to notification records
  .secrets.baseline
  docs/api/api-changes-v4.3.md
  query-service/eks_handler/main.py
  query-service/infra/api-gateway/internal-api.json
  query-service/lambda-test-templates.json
  query-service/lambdas/query_result_lambda/app.py
  query-service/lambdas/stream_processor_lambda/app.py
  query-service/tests/conftest.py
  query-service/tests/test_eks_handler.py
  query-service/tests/test_lambdas/conftest.py
  query-service/tests/test_lambdas/test_query_result_lambda.py
  query-service/tests/test_lambdas/test_stream_processor_lambda.py
Due: unittests, integration

docs: Refactor architecture documentation and enhance file navigation
  .cursor/rules/architecture/architecture-guide.mdc
  .cursor/rules/architecture/architecture-overview.mdc
  .cursor/rules/architecture/aws-localstack.mdc
  .cursor/rules/architecture/aws-services.mdc
  .cursor/rules/architecture/file-navigation.mdc
  .cursor/rules/architecture/quick-commands.mdc
  .cursor/rules/architecture/testing-guide.mdc
  .cursor/rules/architecture/troubleshooting.mdc
  .cursor/rules/coding/api-endpoints.mdc
  .cursor/rules/coding/development-workflow.mdc
  .cursor/rules/database/data-access-patterns.mdc
  .cursor/rules/database/dynamodb-layout.mdc
  .cursor/rules/database/dynamodb-queries.mdc
  .cursor/rules/database/localstack-development.mdc
Due: none

feat: Enhance DynamoDB table schema and improve query handling
  query-service/infra/localstack/setup.sh
  query-service/lambdas/query_result_lambda/app.py
Due: none
